@model SMA.Models.Receita

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Receita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescricao" class="control-label"></label>
                <input asp-for="Prescricao" class="form-control" />
                <span asp-validation-for="Prescricao" class="text-danger"></span>
            </div>

            @* Escolher um paciente. *@
            <div class="form-group">
                <label class="control-label">Paciente</label>
                <select asp-for="Utentes" class="form-control" asp-items="ViewBag.Utentes">
                    <option value="">Por favor, escolha um paciente.</option>
                </select>
            </div>

            @* Escolher um médico. *@
            <div class="form-group">
                <label class="control-label">Médico</label>
                <select asp-for="Utentes" class="form-control" asp-items="ViewBag.Utentes">
                    <option value="">Por favor, escolha um médico.</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
